//
// Background Colors //
//
:root {
	--bs-dark-rgb: 24, 28, 32;
}
.bg-black { background: black; }
.bg-dark { background: $bg-dark; }
.bg-dark-09 { background: $color-dark-09; }
.bg-dark-08 { background: $color-dark-08; }
.bg-dark-07 { background: $color-dark-07; }
.bg-dark-06 { background: $color-dark-06; }
.bg-dark-05 { background: $color-dark-05; }
.bg-dark-04 { background: $color-dark-04; }
.bg-dark-03 { background: $color-dark-03; }
.bg-dark-02 { background: $color-dark-02; }
.bg-dark-01 { background: $color-dark-01; }
.bg-dark-gray { background: $bg-dark-gray; }
.bg-gray { background: $bg-gray; }
.bg-light-gray { background: $bg-light-gray; }
.bg-white-09 { background: $color-white-09; }
.bg-white-08 { background: $color-white-08; }
.bg-white-07 { background: $color-white-07; }
.bg-white-06 { background: $color-white-06; }
.bg-white-05 { background: $color-white-05; }
.bg-white-04 { background: $color-white-04; }
.bg-white-03 { background: $color-white-03; }
.bg-white-02 { background: $color-white-02; }
.bg-white-01 { background: $color-white-01; }
.bg-green { background: $color-green; }
.bg-red { background: $color-red; }
.bg-yellow-orange { background: $color-yellow-orange; }

.bg-light-content {
	color: $color-primary;
	h1,h2,h3,h4,h5,h6 { color: $color-dark; }
	a {
		&:not([class*='button'], .m-dropdown-link, .m-subdropdown-link) {
			color: $color-dark-09;
			&:hover, &:focus { color: $color-dark; }
		}
	}
}
.bg-dark-content {
	color: $color-white-07;
	h1,h2,h3,h4,h5,h6 {
		color: white;
		a {
			color: $color-white-09;
			&:hover, &:focus { color: white; }
		}
	}
	a {
		&:not([class*='button'], .m-dropdown-link, .m-subdropdown-link) {
			color: $color-white-09;
			&:hover, &:focus { color: white; }
		}
	}
}
div[class*='bg-white'], .bg-light-gray, .bg-gray { @extend .bg-light-content; }
div[class*='bg-dark'], .bg-black {
	@extend .bg-dark-content;
	div[class*='bg-white'], .bg-light-gray, .bg-gray {
		@extend .bg-light-content;
	}
}


//
// Borders //
//
.border,
.border-top,
.border-right,
.border-bottom,
.border-left {
	border-width: 0;
	border-style: solid;
	border-color: $border-gray;
	&.border-style-dotted { border-style: dotted; }
	&.border-style-dashed { border-style: dashed; }
}
.border { border-width: 1px; }
.border-top { border-top-width: 1px; }
.border-right { border-right-width: 1px; }
.border-bottom { border-bottom-width: 1px; }
.border-left { border-left-width: 1px; }

div[class*='bg-dark'], .bg-black {
	.border, .border-top, .border-right, .border-bottom, .border-left {
		border-color: $color-white-015 !important;
	}
}


//
// Font Families //
//
.font-family-primary { font-family: $font-family-primary }
.font-family-secondary { font-family: $font-family-secondary }


//
// Font Weights //
//
.fw-thin { font-weight: $font-weight-thin; }
.fw-medium { font-weight: $font-weight-medium; }
.fw-semi-bold { font-weight: $font-weight-semi-bold; }
.fw-black { font-weight: $font-weight-black; }


//
// Letter Spacing //
//
.letter-spacing-1 { letter-spacing: 1px; }
.letter-spacing-2 { letter-spacing: 2px; }
.letter-spacing-3 { letter-spacing: 3px; }
.letter-spacing-4 { letter-spacing: 4px; }


//
// Line Heights //
//
.line-height-100 { line-height: 1; }
.line-height-110 { line-height: 1.1; }
.line-height-120 { line-height: 1.2; }
.line-height-130 { line-height: 1.3; }
.line-height-140 { line-height: 1.4; }
.line-height-150 { line-height: 1.5; }


//
// Text Colors //
//
*.text-white-09 { color: $color-white-09; }
*.text-white-08 { color: $color-white-08; }
*.text-white-07 { color: $color-white-07; }
*.text-white-06 { color: $color-white-06; }
*.text-white-05 { color: $color-white-05; }
*.text-white-04 { color: $color-white-04; }
*.text-white-03 { color: $color-white-03; }
*.text-white-02 { color: $color-white-02; }
*.text-white-01 { color: $color-white-01; }
*.text-dark { color: $color-dark; }
*.text-dark-09 { color: $color-dark-09; }
*.text-dark-08 { color: $color-dark-08; }
*.text-dark-07 { color: $color-dark-07; }
*.text-dark-06 { color: $color-dark-06; }
*.text-dark-05 { color: $color-dark-05; }
*.text-dark-04 { color: $color-dark-04; }
*.text-dark-03 { color: $color-dark-03; }
*.text-dark-02 { color: $color-dark-02; }
*.text-dark-01 { color: $color-dark-01; }
*.text-primary { color: $color-primary; }
*.text-primary-lighter { color: $color-primary-lighter; }
*.text-green { color: $color-green; }
*.text-red { color: $color-red; }
*.text-yellow-orange { color: $color-yellow-orange; }

//
// Text Stroke //
//
.stroke-text {
	color: $color-dark;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: $color-dark;
	@include breakpoint-above(md) {
		-webkit-text-stroke-width: 1.2px;
	}
}
div[class*='bg-dark'], .bg-black {
	.stroke-text {
		color: white;
		-webkit-text-stroke-color: white;
	}
	div[class*='bg-white'], .bg-light-gray, .bg-gray {
		.stroke-text {
			color: $color-dark;
			-webkit-text-stroke-color: $color-dark;
		}
	}
}