//
// Base styles //
//
html, body {
	width: 100%;
	height: 100%;
}
body {
	overflow-x: hidden;
}

.wrapper {
	position: relative;
	z-index: 1;
	width: auto;
	min-height: 100%;
}
@include breakpoint-less(md) {
	.wrapper {
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			z-index: 991;
			background: $color-dark-06;
			width: 100%;
			height: 100%;
			visibility: hidden;
			opacity: 0;
			@include transition(ease-out 0.2s);
		}
		&.overlay {
			&:after {
				visibility: visible;
				opacity: 1;
			}
		}
	}
}

//
// Container, Row //
//
.container, .container-fluid {
	position: relative;
	padding: 0 30px;
}


//
// Positioning //
//
.top {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}
.middle {
	position: relative;
	top: 50%;
	@include transform(translateY(-50%));
}
.bottom {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

//
// Blockquote Styles //
//
.blockquote {
	border-left: 3px solid $color-dark-01;
	padding: 24px 30px;
	p {
		font-weight: $font-weight-light;
	}
	.blockquote-footer {
		margin-top: 10px;
		&:before { padding-right: 6px; }
		h1,h2,h3,h4,h5,h6 {
			display: inline-block;
			margin: 0;
		}
	}
}
div[class*='bg-dark'], .bg-black {
	.blockquote {
		border-color: $color-white-01;
		.blockquote-footer {
			color: white;
		}
	}
}

//
// Pre(Preformatted text) //
//
pre {
	border: 1px solid $color-dark-01;
	border-radius: 5px;
	padding: 5px 20px;
	color: $color-primary;
}
div[class*='bg-dark'], .bg-black {
	pre {
		border-color: $color-white-01;
		color: $color-white-06;
	}
}

//
// Pagination Styles //
//
.pagination {
	margin: 0 -2px;
	padding: 0;
	.page-item {
		margin: 0 2px;
		text-align: center;
		&:last-child {
			margin-right: 0;
		}
		.page-link {
			background: transparent;
			min-width: 34px;
			height: 34px;
			border: 0;
			border-radius: 20px;
			padding: 0;
			color: $color-primary;
			font-size: 14px;
			line-height: 34px;
			@include transition(linear 0.1s);
			&:before {
				content: '';
				position: absolute;
				top: 2px;
				right: 2px;
				bottom: 2px;
				left: 2px;
				opacity: 0;
				border-radius: 50%;
				background: $color-dark-01;
				@include transition(linear 0.1s);
			}
			&:hover {
				color: $color-dark;
				&:before {
					opacity: 1;
				}
			}
		}
		&.active {
			.page-link {
				color: $color-dark;
				&:before {
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					opacity: 1;
				}
			}
		}
	}
	&.pagination-sm {
		.page-item {
			.page-link {
				min-width: 30px;
				height: 30px;
				border-radius: 20px;
				padding: 0;
				line-height: 30px;
			}
		}
	}
	&.pagination-lg {
		.page-item {
			.page-link {
				min-width: 40px;
				height: 40px;
				border-radius: 20px;
				padding: 0;
				line-height: 40px;
			}
		}
	}
}
div[class*='bg-dark'], .bg-black {
	.pagination {
		.page-item {
			.page-link {
				color: $color-white-08;
				&:before {
					background: $color-white-01;
				}
				&:hover {
					color: white;
				}
			}
			&.active {
				.page-link {
					color: white;
				}
			}
		}
	}
}

//
// Horizontal Rule //
//
hr {
	border-color: $color-dark-01;
}
div[class*='bg-dark'], .bg-black {
	hr {
		border-color: $color-white-01;
	}
}

//
// Scroll To Top //
//
.scrolltotop {
	position: fixed;
	right: 30px;
	bottom: 30px;
	@include transform(translateY(20px));
	z-index: 989;
	visibility: hidden;
	opacity: 0;
	@include transition(ease-out 0.12s);
	&.scrolltotop-show {
		@include transform(translateY(0));
		visibility: visible;
		opacity: 1;
	}
}


//
// Cursor //
//
@include breakpoint-above(lg) {
	#animated-cursor {
		z-index: 999;
		position: absolute;
		@include transform(translate(-50%, -50%));
		opacity: 0.3;
		background: white;
		width: 14px;
		height: 14px;
		border-radius: 50%;
		mix-blend-mode: difference;
		pointer-events: none;
		@include transition(linear 0.09s);
		&.scale-cursor {
			@include transform(translate(-50%, -50%) scale(4));
			opacity: 0.12;
		}
	}
}